<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests">
    <test thread-count="5" name="SeleniumTests1">
        <classes>
            <class name="TestNGTests" />
        </classes>
    </test>
    <test thread-count="5" name="SeleniumTests2">
        <classes>
            <class name="TestNGTests" />
        </classes>
    </test>
</suite>